
.card {
    background-color: blue;
    border: 1px solid red;
    padding: 16px;
    border-radius: 4px;
    justify-content: center;
    width: 300px;
    height: 400px;
    
    align-content: center;
   
    border-radius: 90px;
  }


.name {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 150%;
    margin-top: 1px;

}

.teams {
    margin-top: 1px;
    color: black;
}

.image {
    background-color: blue;
    object-fit: cover;
    width: 90%;
    height: 300px;
    top: 10%;
}