.div {
    background-color: transparent;
    padding-top: 2%;
}

.flecha {
    background-color: #033454;
    color: white;
    font-size: 120%;
}

.p{
    font-size: 100%;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}
.span {
    margin-right: 1%;
    color: white;
}