.container {
    background-image: url('https://images.pling.com/img/00/00/61/26/90/1574755/630f5a2b32ec31ef5edb4773ec0ba6571922f2668e7d1febdd56f2be032879e46284.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .wel {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: .75%;
    background-color: transparent;
  }

  .button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }